.Eboard-body {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #e9e9e9;
  height: 50vh;
  border-radius: 5%;
}
.Eboard-title {
  padding-top: 3%;
  font-family: scdream5;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 #3d5ba5, 0 2px #3d5ba5, 2px 0 #3d5ba5, 0 -2px #3d5ba5;
}
