.new-youtuber {
  width: 95%;
  min-height: 11vh;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  list-style: none;
}
.user-profile-pic {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6%;
  margin-left: 3%;
  margin-right: 3%;
}

.youtuber-profile {
  border: 10px solid #c4302b;
  border-radius: 50%;
  background-color: #c4302b;
  color: white;
}

.editor-profile {
  border: 10px solid #3d5ba5;
  border-radius: 50%;
  background-color: #3d5ba5;
  color: white;
}

.thumbnail-profile {
  border: 10px solid #ff7c7c;
  border-radius: 50%;
  background-color: #ff7c7c;
  color: white;
}

.wanted-content {
  max-width: 20vw;
  max-height: 11vh;
  font-family: 'scdream5';
}

.wanted-content-detail {
  margin-top: 1%;
  float: left;
  font-size: 1.3rem;
}

.NewList {
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.ProfileWrapper {
  display: flex;
}

.TitleWrapper {
  display: inline-block;
  width: 19vw;
  max-width: 19vw;
}

.NameWorkerWrapper {
  padding-top: 1%;
  width: 19vw;
  max-width: 19vw;
  text-align: left;
  vertical-align: middle;
  border-bottom: 3px solid #dddddd;
}

.wanted-name {
  display: inline-block;
  max-width: 10vw;
  margin-top: 1%;
  font-size: 1.3rem;
}

.wanted-type-editer {
  display: inline-block;
  font-family: scdream4;
  background-color: #3d5ba5;
  color: white;
  border-radius: 7px;
  padding: 2px;
  margin-top: 1%;
  margin-right: 5%;
  float: right;
}

.wanted-type-thumbnail {
  font-family: 'scdream4';
  background-color: #ff7c7c;
  color: white;
  border-radius: 7px;
  padding: 2px;
}
