.Yboard-body {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #e9e9e9;
  border-radius: 10px;
  min-height: 67vh;
}

.Yboard-title {
  padding-top: 3%;
  font-family: scdream5;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 #c4302b, 0 2px #c4302b, 2px 0 #c4302b, 0 -2px #c4302b;
}

.Eboard-body {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #e9e9e9;
  border-radius: 10px;
  min-height: 67vh;
}

.Eboard-title {
  padding-top: 3%;
  font-family: scdream5;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 #3d5ba5, 0 2px #3d5ba5, 2px 0 #3d5ba5, 0 -2px #3d5ba5;
}

.Sboard-body {
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #e9e9e9;
  border-radius: 10px;
  min-height: 67vh;
}

.Sboard-title {
  padding-top: 3%;
  font-family: scdream5;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -2px 0 #ff7c7c, 0 2px #ff7c7c, 2px 0 #ff7c7c, 0 -2px #ff7c7c;
}
