.win-body {
  margin: 0;
  padding: 0;
}
.win-title {
  margin-top: 1%;
  padding: 0.2em;
  display: inline-block;
  font-family: "scdream5";
  font-size: 2rem;
  color: white;
  border-bottom: 3px solid #ff9411;
  text-shadow: -2px 0 #ff9411, 0 2px #ff9411, 2px 0 #ff9411, 0 -2px #ff9411;
  cursor: pointer;
}

.win-title > span {
  color: #ff9411;
  font-size: 2.5rem;
}

.WinWrapper {
  background-color: #e9e9e9;
}

.WinList {
  padding: 1%;
}

.win-grow {
  font-family: "scdream5";
  text-align: right;
  font-size: 1.7rem;
  margin-top: 3%;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  text-shadow: -2px 0 #ff9411, 0 2px #ff9411, 2px 0 #ff9411, 0 -2px #ff9411;
}

.ListTable {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1%;
  width: 100%;
  font-family: "scdream5";
}

.ListTable > thead > tr > td {
  padding: 1%;
  border-bottom: 3px solid #ff9411;
}

.ListTable > tbody > tr > td {
  padding: 2%;
  max-width: 10vw;
  border-bottom: 1.5px solid #ff9411;
}

.ListTable > tbody > tr > td {
  color: #51968d;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
}

.ListTable > tbody > tr:hover {
  background-color: white;
}

.win-collabo {
  font-family: "scdream5";
  text-align: left;
  font-size: 1.7rem;
  margin-top: 3%;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  text-shadow: -2px 0 #ff9411, 0 2px #ff9411, 2px 0 #ff9411, 0 -2px #ff9411;
}
.MainWriter {
  width: 7%;
}
.MainTitle {
  width: 33%;
}
.MainHit {
  width: 7%;
}
.MainDate {
  width: 7%;
}

@media all and (max-width: 500px) {
  .MainWriter {
    width: 15%;
  }
  .MainTitle {
    width: 30%;
  }
  .MainHit {
    width: 9%;
  }
  .MainDate {
    width: 9%;
  }
  .win-grow {
    text-align: left;
  }
}
