.nav {
  display: grid !important;
  position: fixed;
  padding-left: 12rem !important;
  list-style: none !important;
  z-index: 3;
  background-color: white;
  font-family: 'scdream5';
  width: 100%;
  height: 3.5rem;
  top: 0;
  border-bottom: 1px solid #ff9411;

  .nav-pills {
    font-size: 19px;
    display: inline;
    float: left;
    text-decoration: none !important;
    .nav-link {
      display: inline-block;
      margin-top: 5px;
      color: #ff9411;
      margin: 0.25rem;
      &:hover {
        background-color: #ff9411;
        color: white;
      }
    }

    .nav-link-disabled {
      display: inline-block;
      margin-top: 5px;
      background-color: #ff9411;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      margin: 0.25rem;
      cursor: default;
    }
  }

  .nav-login {
    display: inline;
    float: right;
    color: black;
    .button-login {
      display: inline-block;
      margin-right: 22vh;
      margin-top: 5px;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;
      color: #ff9411;
      background-color: transparent;
      border: none;
      &:hover {
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        background-color: #ff9411;
        color: white;
      }
    }
  }
}
.nav-login > button {
  margin: 0;
}

.menu-icon {
  display: none;
  cursor: pointer;
  margin-top: 1vh;
}
.menu-icon-style {
  color: #ff9411;
  font-size: 40px;
  background-color: white;
  border: 2px solid #ff9411;
  border-radius: 0.25rem;
}

.nav > button {
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 1099px) {
  .nav {
    display: grid !important;
    position: fixed;
    padding-left: 1rem !important;
    z-index: 3;
    background-color: white;
    font-family: 'scdream5';
    width: 100%;
    height: 3.5rem;
    top: 0;
    border-bottom: 1px solid #ff9411;

    .nav-pills {
      position: absolute;
      padding-left: 3rem;
      padding-top: 3.5rem;
      font-size: 19px;
      flex-direction: column;
      text-decoration: none !important;
      display: inline-block;
      .nav-link {
        list-style: none !important;
        display: block;
        margin-top: 5px;
        color: #ff9411;
      }
      .nav-login {
        display: inline-block;
        float: none;
        color: black;
        .button-login {
          margin-top: 5px;
          border-radius: 0.25rem;
          color: #ff9411;
          border: none;
          &:hover {
            border-radius: 0.25rem;
            background-color: #ff9411;
            color: white;
          }
        }
      }
    }
    .menu-icon {
      display: inline-block;
    }
  }
}
