.DetailWrapper {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0 !important;
}
.DetailHeaderWrapper {
  display: contents;
}

.youtube-top-wrapper {
  display: block;
}

.youtube-top {
  display: inline-block;
  font-family: 'scdream5';
  font-size: 30px;
  border-bottom: 3px solid #c4302b;
  margin-top: 3%;
  margin-bottom: 3%;
}

.youtube_top_DefaultInfo {
  text-align: center;
}

.channel-box {
  border: 3px solid #c4302b;
  margin-bottom: 3%;
  background-color: #feffe6;
  min-width: 70vw;
  display: inline-block;
}

.detail-box {
  margin-bottom: 5%;
}
.DetailTop {
  display: inline-block;
  font-family: 'scdream5';
  font-size: 30px;
  border-bottom: 3px solid #c4302b;
  margin-bottom: 20px;
}

.detail-btn {
  display: flex;
}
.detail-btn-box {
  display: inline-block;
  margin-left: auto;
  font-family: 'scdream5';
  font-size: 1.2rem;
  color: black;
  margin-bottom: 1rem;
}
.detail-btn-box > div {
  display: inline-block;
}

.detail-update-btn {
  border: 1px solid #008744;
  color: #008744;
  border-radius: 20px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  &:hover {
    text-decoration: none;
    background-color: #008744;
    color: white;
  }
}

.detail-btn-box > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: 1px solid #d62d20;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: white;
  color: #d62d20;
  &:hover {
    background-color: #d62d20;
    color: white;
  }
}

.detail-btn-box > div > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  border: 1px solid #d62d20;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: white;
  color: #d62d20;
  &:hover {
    background-color: #d62d20;
    color: white;
  }
}

.detail-title {
  display: flex;
  font-family: 'scdream5';
  font-size: 1.6rem;
}

.detail-show {
  display: inline-block;
  margin-left: auto;
  font-family: 'scdream4';
  font-size: 15px;
}

.detail-date {
  color: gray;
  font-family: 'scdream4';
  margin-bottom: 10px;
}

.detail-content {
  display: flex;
  font-family: 'scdream4';
  background-color: #e9e9e9;
  border-radius: 20px;
  width: 80vw;
  padding: 2rem;
  line-height: 30px;
}

.detail-content-default {
  margin: 1rem;
  width: 50%;
  height: 60vh;
  border-radius: 10px;
  background-color: #c0c0c0;
}

.detail-content-detail {
  margin: 1rem;
  width: 50%;
  height: 60vh;
  border-radius: 10px;
  background-color: #c0c0c0;
}

.QuillContent {
  width: 76vw;
}

.DetailQuill {
  width: 5vw;
}

.likeButton {
  background: none;
  border: none;
  color: #d62d20;
  font-size: 1.5rem;
  line-height: 1.5;
}

.starButton {
  background: none;
  border: none;
  color: #ff9411;
  font-size: 1.5rem;
  line-height: 1.5;
}

.hit {
  color: #008744;
}

.hitCount {
  font-size: 1.5rem;
  color: #008744;
}

.hitWrapper {
  display: flex;
}

.likeWrapper {
  margin-bottom: 1%;
}

#ReportForm {
  font-family: 'scdream5';
  margin-top: 10%;
  text-align: center;
}

#ReportForm > h1 {
  margin-bottom: 5%;
  border-bottom: 3px solid #c4302b;
  display: inline-block;
}

#ReportTitle {
  border: none;
  border-bottom: 3px solid black;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  width: 80%;
}

#ReportTitle:focus {
  text-decoration: none;
  outline: none;
}

#ReportContent {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  height: 23vh;
  border: 3px solid black;
  border-radius: 2%;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 3%;
  margin-top: 5%;
}

.BtnWrapper {
  float: right;
  margin-top: 8%;
}

#ReportSubmit {
  background-color: #dddddd;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 5%;
  font-weight: bold;
}

#ReportCloseBtn {
  background-color: #dddddd;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 5%;
  font-weight: bolder;
}
