.card-link {
  text-decoration: none;
  color: black;
}

.card-container {
  text-align: center;
}

.card-container .card {
  display: inline-block;
  width: 20rem;
  height: 15rem;
  margin: 1rem !important;
  padding: 0.5rem;
  border: 1px solid black;
  text-align: left;
  &:hover {
    height: 25rem;
    opacity: 1;
  }
}

.card-container .card .card-header {
  display: block;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0;
  background-color: transparent;
  font-family: scdream5;
  font-size: 18px;
  border-bottom: none;
}

.card-container .card .card-title {
  display: inline-block;
  font-size: 18px;
  width: 11rem;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 0;
}

.card-container .card .card-body {
  padding-left: 0 !important;
  padding: 0.5rem;
  display: block;
  width: 19rem;
  height: 5rem;
}

.card-container .card .card-body .card-text {
  background-color: transparent;
  border-bottom: none;
  font-family: scdream5;
}
.card-container .card .card-footer {
  background-color: transparent;
  display: inline;
  margin: 0;
  padding: 0;
  border-top: none;
}
.card-options {
  display: block;
  text-align: right;
  margin-right: 12rem;
  height: 2.5rem;
}

.card-options > .registerBtn {
  font-family: scdream5;
  vertical-align: middle;
  border: 2px solid green;
  border-radius: 20px;
  text-decoration: none;
  color: green;
  font-size: 20;
  padding: 0.5rem;
  margin-right: 0.25rem;
  &:hover {
    background-color: green;
    color: white;
    text-decoration: none;
  }
}
