.card-link {
  text-decoration: none;
  color: black;
}

.card-container {
  text-align: center;
}

.card-container > ul {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding-left: 0 !important;
}

.card-container > ul > li {
  width: 20rem;
  height: 20rem;
  margin: 1.25rem;
  padding: 0.5rem;
  position: relative;
  display: inline-block;
  list-style: none;
}

.card-container > ul > li > .card {
  width: 20rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 20px;
  text-align: left;
  &:hover {
    background-color: #333333;
    transition: box-shadow 250ms;
    border: none;
    border-radius: 20px;
    box-shadow: -15px 15px #ff9411;
    color: white;
  }
  &:hover .card-img {
    transition: opacity 250ms;
    cursor: pointer;
    opacity: 0.2;
  }
  &:hover .card-body {
    color: white;
    border-radius: 20px;
    background-color: transparent;
    opacity: 1;
    display: block;
  }
  &:hover .card-link {
    color: white;
    &:hover {
      border-bottom: 2px solid white;
    }
  }
}

.card-container > ul > li > .card > .card-body {
  width: 20rem;
  cursor: pointer;
  font-family: scdream5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  display: none;
  background-color: transparent;
  & .card-footer {
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: scdream4;
  }
}

.card-container > ul > li > .card > .card-header {
  display: block;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0;
  background-color: transparent;
  font-family: scdream5;
  font-size: 18px;
  border-bottom: none;
}

.card-container > ul > li > .card > .card-title {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  width: 11rem;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.card-deadline {
  font-size: 18px;
  float: left;
  font-weight: bold;
}
.card-text > div {
  font-weight: bold;
  font-size: 18px;
  font-family: scdream5;
}
.card-options {
  display: block;
  text-align: right;
  height: 2.5rem;
  margin-right: 5rem;
}

.card-like {
  text-align: right;
}

.card-options > .registerBtn {
  font-family: scdream5;
  vertical-align: middle;
  border: 2px solid green;
  border-radius: 20px;
  text-decoration: none;
  color: green;
  font-size: 20;
  padding: 0.5rem;
  margin-right: 0.25rem;
  &:hover {
    background-color: green;
    color: white;
    text-decoration: none;
  }
}
