.YregisterBigWrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.YregisterHeader {
  margin-bottom: 1%;
}

.YregisterHeader > h1 {
  text-align: left;
  font-family: 'scdream4';
  display: inline;
  border-bottom: 4px solid #c4302b;
}

#YregisterChannel {
  background: none;
  border: none;
  border-bottom: 3px solid black;
  margin-bottom: 1%;
}

.QuillWrapper {
  width: 70vw;
}

#ReactQuill {
  width: 70vw;
  min-height: 30vh;
}
