.PasswordFrag {
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "scdream4";
}

.PasswordHeader {
  text-align: center;
}

.signUpBar {
  background-color: #ffb963;
  width: 60%;
  height: 10px;
  margin-bottom: 1%;
  margin-left: 20%;
  text-align: center;
  border-radius: 12px;
}
.labelWrapper {
  text-align: left;
  width: 100%;
  margin: auto;
  margin-bottom: 0 !important;
}
input::placeholder {
  color: #999999;
}
/* 오버레이 (보더) */
.overlay {
  border: 2px solid gray;
  padding: 2em;
  margin: auto;
  width: 30%;
  box-shadow: 5px 5px darkgray;
}

/* 페이지 반응형 */
@media screen and (max-width: 1480px) {
  .overlay {
    width: 350px;
  }
  .PasswordFrag {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

/* footer */
.PasswordFooter {
  text-align: center;
  margin-top: 2%;
}
.linkToMain {
  color: darkgray;
}
.linkToMain:hover {
  text-decoration: none;
  color: darkgray;
}
.linkToMain > span {
  color: #ffb963;
  text-decoration: underline;
  cursor: pointer;
}
