.header {
  text-align: center;
}

.header-title {
  font-size: 3rem;
  font-family: hopang;
  color: #ffb963;
}
.header-title:hover {
  text-decoration: none;
  color: #ffb963;
}
.signinIcon {
  width: 15%;
  margin: 2em 0 1em 2em;
}
section {
  font-family: scdream4;
}
.close {
  float: right;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
  margin-right: -15px;
}

.loginId {
  margin-top: 30px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  font-size: 0.85em;
}

input::placeholder {
  color: #999999;
}

.loginPw {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  font-size: 0.85em;
}
.loginMid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .autoLogin {
    font-size: 12px;
    color: #8d8d8d;
    line-height: 3;
  }
}
.findPasswordBox {
  margin: auto 0px auto auto;
}
.findPassword {
  font-size: 14px;
  color: #8d8d8d;
  line-height: 3;
  left: 50%;
}
.loginBtn {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  line-height: 1px;
  margin-top: 5px;
  border-radius: 3px;
  border-style: none;
}
/* 구글 로그인 관련 */
.googleLoginBtn {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: blue;
  color: white;
  line-height: 1px;
  margin-top: 10px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}
.googleIcon {
  height: 40px;
  margin-left: -20px;
  margin-right: 10px;
}
/* 구글 로그인 끝 */
section > footer {
  padding: 12px 16px;
  text-align: center;
}
.loginLine {
  color: #bcbcbc;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 35px;
  a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
}
/* 수정 버튼 */
.modifyBox {
  display: block;
  padding: 0.25rem;
}
.modifyBtn {
  display: inline-block;
  margin: auto;
  color: #ff9411;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  &:hover {
    text-decoration: 2px underline #ff9411;
    color: #ff9411;
  }
}
/* nav 로그인 전/후 변하는 컴포넌트들 */
.navChangeBox {
  display: inline-block;
}
.navChangeBox > div > ul {
  margin-top: 0.5rem;
  margin-left: 3rem;
  padding-left: 0;
  list-style: none;
  width: 13rem;
  background-color: white;
  border: 1px solid #ff9411;
}
.navChangeBox > div > ul > li > button {
  padding: 0.25rem;
}
.welcomeBox {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  display: inline-block;
  width: 11rem;
  margin-right: 14rem;
  word-break: nowrap;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: medium;
}
.welcomeBox > .noti_icon {
  color: #ff9411;
}
/* 모달창 제어 */
.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
.ReactModal__Body--after-open {
  overflow-y: hidden;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  overflow-y: hidden;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.ReactModal__Content {
  overflow-x: hidden;
}

/* 모달 반응형 */
@media screen and (max-width: 4000px) and (max-height: 4000px) {
  .ReactModal__Content {
    min-width: 360px;
    height: 1em;
  }
  .ReactModal__Content--after-open {
    min-width: 360px;
    min-height: 560px;
  }
}
