.resetPasswordFrag {
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "scdream4";
}
.resetPasswordTitleBox {
  text-align: center;
  margin-bottom: 2%;
}
.resetPasswordTitle {
  font-size: 3rem;
  font-family: hopang;
  color: #ffb963;
  &:hover {
    text-decoration: none;
    color:#ffb963;
  }
}
.resetPasswordContentBox {
  text-align: center;
}
.resetPasswordDescBox {
  margin-bottom:7%;
  &>span {
    color: #ffb963;
  }
}
.signUpSubmitBtnBox {
  margin-top: 5%;
}