.authenticationCodeSend {
  font-size: 1em;
  width:100%;
}
.authenticationCodeResend {
  display: inline-block;
  margin-left:-55%;
}
.authenticationBtn {
  display: inline-block;
  margin-left: 25%;
}
.authenticationCodeResend > button {
  font-size: 0.85em;
  padding:5px;
}
.authenticationBtn > button {
  font-size: 0.85em;
  padding:5px;
}
.authenticationCodeSend > .btn {
  font-size:0.85em;
  padding:5px;
  &:disabled {
    background-color: darkgray;
    opacity: .85;
  }
}
.authenticationCodeSend > .btn-warning {
  font-size:0.85em;
  padding:5px;
  &:disabled {
    background-color: navajowhite;
    border:none;
    opacity: .85;
  }
}