Evideo > ul,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: 'scdream4';
}

.EvideoWrapper {
  height: 30vh;
}

.best-editor {
  padding: 0.5em;
  display: inline-block;
  border-bottom: 2px solid #3d5ba5;
  font-family: scdream5;
  font-size: 23px;
  color: white;
  text-shadow: -2px 0 #3d5ba5, 0 2px #3d5ba5, 2px 0 #3d5ba5, 0 -2px #3d5ba5;
}

.best-thumbnailer {
  padding: 0.5em;
  display: inline-block;
  border-bottom: 2px solid #ff7c7c;
  font-family: scdream5;
  font-size: 23px;
  color: white;
  text-shadow: -2px 0 #ff7c7c, 0 2px #ff7c7c, 2px 0 #ff7c7c, 0 -2px #ff7c7c;
}

.wrapper {
  display: flex !important;
  height: 15em;
  justify-content: center;
  align-items: center;
  padding: 23px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnails-item {
  flex-basis: 350px;
  flex-shrink: 0;
  margin: 0 5px;
  transition: all 0.4s;
}

.thumbnails-item:hover {
  flex-basis: 380px;
  margin: 0 20px;
}

.thumbnails-item img {
  width: 100%;
}

.item {
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

/* .item:before {
    content: '';
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height: 200px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 40%);
}

*/

/* TITLE */
.item-title {
  background-color: black;
  opacity: 0.8;
  color: white;
  position: absolute;
  left: 0;
  bottom: 3px;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  max-height: 60px;
  transition: all 0.4s;
  transition-delay: 0.4s;
}

.thumbnails-item:hover .item-title {
  background-color: black;
  opacity: 0.8;
  bottom: 4.5em;
  transition: all 0.4s;
  transition-delay: 0.4s;
}

.item-title > h2 {
  font-size: 22px;
  margin-bottom: 0px;
}

.item-title h2 span {
  display: block;
  font-size: 12px;
}

/* END OF TITLE */

/* CONTENT */

.item-content {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  margin: 10px 5px -2rem;
  color: white;
  background-color: black;
  opacity: 0.8;
}

.thumbnails-item:hover .item-content {
  margin: -0.6rem 5px;
  transition: all 0.4s;
  transition-delay: 0.4s;
  margin: -0.2rem 5px;
  transition: all 0.4s;
  transition-delay: 0.4s;
}

.item-content p {
  color: white;
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  line-height: 1.2;
  transition: all 0.4s;
  transition-delay: 0.4s;
  opacity: 0;
  height: 3.5em;
  width: 25.7em;
}

.thumbnails-item:hover .item-content p {
  max-height: 5em;
  opacity: 1;
  margin-top: 0.2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* END OF CONTENT */
