.nav {
  position: fixed;
  padding-left: 12rem;
  list-style: none;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'scdream4';
  width: 100%;
}

.nav-pills {
  display: flex;

  .nav-link {
    &.disabled {
      color: gray;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-bottom: 2px solid #5ed65e;
    background-color: white;
    border-color: white;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: 30rem;
    // Remove the top rounded corners here since there is a hard edge above the menu
  }
}
/*
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus() {
      border-color: $nav-tabs-link-hover-border-color;
    }
    */
