label {
  margin-bottom: 0;
}

.SignUpFrag {
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'scdream4';
}

.SignUpHeader {
  text-align: center;
}

SignUp1 > header-title {
  font-size:4rem;
  font-family: hopang;
  color:#ffb963;
}
.SignUpIcon {
  width:10%;
  margin:2em 0 1em 2em;
}
.signUpBar {
  background-color: #ffb963;
  width:60%;
  height:10px;
  margin-bottom: 1%;
  margin-left: 20%;
  text-align: center;
  border-radius: 12px;
}
/* 콘텐츠 박스 */
.contentBox {

}
.contentBox1 {

  text-align: center;
  align-items: center;
}
.contentBox2 {

  text-align: center;
  align-content: center;
}
.contentBox3 {

}
/* 선택 /필수 입력 정보입니다, 제목 */
.required {
  margin: 1% 14% 1% 0;
  font-size:1rem;
  color:red;
}
.required2 {
  margin: 1% 14% 1% 0;
  font-size:1rem;
  color:black;
}
.required3 {
  margin: 1% 80.6% 1% 0;
  font-size:1rem;
  color:black;
  border-bottom: 2px solid black;
}
input::placeholder {
  color: #999999;
}
/* 테이블, 테이블 내 요소들 */
.signUpTable {
  width:100%;
}
.labelWrapper {
  text-align: left;
  width:25%;
  margin:auto;
  margin-bottom: 0 !important;
}
.signUpTable label {
  font-size:14px;
  display:block;
}
.signUpTable .signUpLabel {
  margin-left: 0%;
  display:block;
}
.signUpTable > tr > td > input {
  margin-top: 5px;
  margin-bottom: 12px;
  border-radius: 2px;
  width: 25%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  font-size:0.85em;
}
.signUpTable > tr > td {
  vertical-align: middle;
}
/* 프로필 사진 */
.signUpProfilePic {
  border:none;
}

/* 약관동의 */

.agreement {
  position:relative;
  margin:auto;
  width:25%;
}
.agreementTitle {
  font-size:0.9em;
  margin-top:15px;
}
.agreementService {
  font-size:0.9em;
  margin-top:15px;
}
.agreementPrivate {
  font-size:0.9em;
  margin-top:15px;
}
.agreementMarketing {
  font-size:0.9em;
  margin-top:15px;
}

