.DetailWrapper {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.DetailHeaderWrapper > h1 {
  display: inline;
  border-bottom: 3px solid #c4302b;
}

.DetailHeaderWrapper > table {
  margin-top: 3%;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  font-family: 'scdream4';
}

.DetailHeaderWrapper > table > tr,
.DetailHeaderWrapper > table > tr > td {
  padding: 12px;
  border: 2px solid black;
}

.DetailHeaderWrapper > table > tr > td > p {
  text-align: left;
}

.DetailBodyContents {
  margin-top: 1%;
  border: 1px solid black;
}

.DetailBodyWrapperTitle {
  margin: 1%;
}

.DetailBodyImg {
  text-align: center;
  margin-bottom: 1.5%;
}
