.Main_Board_Wrapper {
  margin: 0;
  padding: 0;
}
.new-board {
  margin-top: 1%;
  padding: 0.2em;
  display: inline-block;
  border-bottom: 4px solid #c4302b;
  font-family: 'scdream5';
  font-size: 2rem;
  color: white;
  text-shadow: -2px 0 #c4302b, 0 2px #c4302b, 2px 0 #c4302b, 0 -2px #c4302b;
}

.new-board > span {
  color: #c4302b;
  font-size: 2.5rem;
}
