.comment-wrapper {
  margin-top: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 5rem;
}

.comment-content {
  font-family: scdream4;
  margin-bottom: 1rem;
}

.comment-options {
  display: block;
  text-align: right;
}

.comment-options > button {
  width: 5rem;
}

.comment-options-user {
  margin-left: 1rem;
  display: inline-block;
}
.comment-options-user > button {
  margin-right: 0.5rem;
  border: none;
}
.comment-options > button {
  border: none;
  background-color: bisque;
}

.comment-detail-title {
  display: inline-block;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem;
}

.comment-register-category {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #ff9411;
  padding: 0.25rem;
  border-radius: 20px;
}

.comment-register-title {
  float: left;
}
.comment-register-title > input[type='text'] {
  margin-top: 1rem;
  margin-right: 1rem;
  border: none;
  border-bottom: 4px solid #ff9411;
  display: inline-block;
  font-size: 30px;
  width: 35rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
  &:focus {
    outline: 0;
    border: none;
    border-bottom: 4px solid black;
  }
}

.secret-option {
  font-family: scdream5;
  display: block;
  font-size: 20px;
  padding-top: 2rem;
  float: rigth;
}

.comment-register-title > h2 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.detail-show {
  vertical-align: middle;
}

.show-user-name {
  margin-top: 0.25rem;
  float: left;
  font-size: 20px;
  font-family: scdream4;
  margin-right: 0.5rem;
}

.likeWrapper {
  float: left;
}

.hitWrapper {
  padding-top: 0.25rem;
}

.comment-content > .DetailQuill {
  margin-bottom: 5rem !important;
  margin-top: 1rem;
}
.ql-editor {
  width: 100%;
}

.commentWrapper {
  margin-bottom: 5rem;
  width: 100%;
}

.commentWrapper > h4 {
  margin-top: 1rem;
  font-family: scdream4;
}

.parentComment {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.parentComment > div > button {
  border: 1px solid black;
  margin-right: 0.25rem;
  border-radius: 5px;
}

.childComment {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.commentWrapper > ul {
  list-style: none;
  padding-left: 0;
}

.commentUser {
  display: inline-block;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: large;
}

.commentDetail {
  font-size: medium;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.commentDate {
  font-size: small;
}
.reply {
  margin-left: 0.5rem;
  color: #333333;
  cursor: pointer;
}
.edit_icon {
  margin-left: 0.5rem;
}
.comment_icon {
  cursor: pointer;
}
.myself {
  font-size: 15px;
  margin-left: 0.5rem;
  color: black;
  background-color: sandybrown;
  border: 15x solid sandybrown;
  border-radius: 5px;
  font-family: scdream4;
}
.textarea {
  width: 100%;
  border-radius: 5px;
  resize: none;
  &:focus {
    outline: none;
  }
}
.comment-area {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
}

.comment-area > button {
  border: 1px solid black;
  border-radius: 5px;
}

.commentDate > div > button {
  border: 1px solid black;
  margin-right: 0.5rem;
  border-radius: 5px;
}
