.commentWrapper {
  border: solid 1px black;
  margin-top: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
  width: 50%;
}

.parentComment {
  margin-top: 0.5rem;
}

.childComment {
  margin-top: 0.5rem;
  margin-left: 2rem;
}
.commentUser {
  font-weight: bold;
  font-size: large;
}
.commentDetail {
  font-size: medium;
}
.commentDate {
  font-size: small;
}
.reply {
  margin-left: 0.5rem;
  color: #979797;
  cursor: pointer;
}
.edit_icon {
  margin-left: 0.5rem;
}
.comment_icon {
  cursor: pointer;
}
.myself {
  margin-left: 0.5rem;
  color: red;
  font-size: medium;
}

.detail-content > .commentWrapper > ul {
  list-style: none;
  padding-left: 0px;
}

.textarea {
  width: 100%;
  border-radius: 5px;
  resize: none;
}
