.table-Wrapper {
  margin-top: 2vh;
  margin-left: 20vw;
  margin-right: 25vw;
  margin-bottom: 5vh;
}
.sideMenu {
  float: left;
  margin-left: 10vw;
  margin-top: 7vh;
  border-radius: 2px;
  min-height: 50vh;
  min-width: 10vw;
  border: 2px solid #dee2e6;
}
.table {
  margin-left: 4vw;
  width: 65vw;
  table-layout: fixed;
  line-height: 20px;
  white-space: nowrap;
  margin-top: 1.5rem;
}
.table tr td {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.wno {
  width: 7%;
}
.wtitle {
  width: 45%;
}
.wwriter {
  width: 18%;
}
.wcreatedDate {
  width: 12%;
}
.whited {
  width: 9%;
}
.wlike {
  width: 9%;
}

.commentNum {
  font-size: 15px;
  color: #555555;
}
.new_icon {
  color: #ff9411;
}
.table_link {
  text-decoration: none;
  color: black;
}
.registerBtn {
  font-family: scdream5;
  vertical-align: middle;
  border: 2px solid green;
  border-radius: 20px;
  text-decoration: none;
  color: green;
  font-size: 20;
  padding: 0.5rem;
  margin-left: 4.5rem;
  &:hover {
    background-color: green;
    color: white;
    text-decoration: none;
  }
}
.wloading {
  width: 100%;
  min-height: 70vh;
}
