.table-Wrapper {
  margin-top: 2rem;
  margin-left: 15rem;
  margin-right: 8rem;
  margin-bottom: 5rem;
}

.table-Wrapper > h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #ff9411;
  padding: 0.25rem;
  border-radius: 20px;
}

.community-options {
  font-family: scdream4;
  display: block;
  text-align: right;
  margin-bottom: 1rem;
}

.sideMenu > div > ul {
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.li-winwin {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #ff9411;
  font-family: scdream4;
  margin-bottom: 1rem;
  &:hover {
    text-decoration: none;
    background-color: #ff9411;
    transition: background-color 0.3s;
    color: white;
    width: 10rem;
    border-radius: 20px;
  }
}

.li-link-disabled {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-family: scdream4;
  background-color: #ff9411;
  color: white;
  width: 10rem;
  border-radius: 20px;
  cursor: default;
  margin-bottom: 1rem;
}

.li-collabo {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #ff9411;
  font-family: scdream4;
  &:hover {
    text-decoration: none;
    background-color: #ff9411;
    transition: background-color 0.3s;
    color: white;
    width: 10rem;
    border-radius: 20px;
  }
}

.community-options > .registerBtn {
  font-family: scdream5;
  vertical-align: middle;
  border: 2px solid green;
  border-radius: 20px;
  text-decoration: none;
  color: green;
  font-size: 15px;
  padding: 0.5rem;
  margin-right: 0.25rem;
  margin-bottom: 1rem;
  &:hover {
    background-color: green;
    color: white;
    text-decoration: none;
  }
}

.sideMenu {
  float: left;
  margin-left: 17rem;
  margin-right: 3rem;
  margin-top: 7rem;
  border-radius: 2px;
  min-height: 50vh;
  min-width: 10vw;
  border: none;
}

.sideMenu-title {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-family: scdream5;
  font-size: 30px;
  background-color: #ff9411;
  color: white;
  width: 12rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.community-table-wrapper > table {
  width: 90%;
  margin: 2rem;
  font-family: scdream4;
  table-layout: fixed;
  line-height: 2rem;
  white-space: nowrap;
}
.community-table-wrapper > table > thead {
  font-family: scdream5;
  text-align: center;
}

.community-table-wrapper > table > thead > tr > th {
  border-bottom: 2px solid #ff9411;
}
.wno {
  width: 3rem;
}
.wtitle {
  width: 20rem;
}
.wwriter {
  width: 7rem;
}
.wcreatedDate {
  width: 7rem;
}
.whited {
  width: 5rem;
}
.wlike {
  width: 5rem;
}

.community-table-wrapper > table > tbody > tr > td {
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.community-table-wrapper > table > tbody > tr {
  &:hover {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    background-color: lightgrey;
  }
}

.commentNum {
  font-size: 15px;
  color: #555555;
}
.new_icon {
  color: #ff9411;
}
.table_link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.registerBtn {
  font-family: scdream5;
  vertical-align: middle;
  border: 2px solid green;
  border-radius: 20px;
  text-decoration: none;
  color: green;
  font-size: 20;
  padding: 0.5rem;
  margin-left: 4.5rem;
  &:hover {
    background-color: green;
    color: white;
    text-decoration: none;
  }
}

.community_notice {
  background-color: #f7be7a4a;
  font-weight: bold;
}
