.card-options {
  font-family: scdream4;
  display: block;
  text-align: right;
  margin-right: 12rem;
}
.card-options > div {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.sortingBtn > button {
  display: inline-block;
  border: 2px solid cornflowerblue;
  background-color: white;
  border-radius: 20px;
  width: 5rem;
  color: cornflowerblue;
  margin: 0.25rem;
  cursor: pointer;
  &:focus {
    background-color: cornflowerblue;
    color: white;
  }
}

.card-paging {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: scdream4;
  vertical-align: middle;
}

.card-paging ul {
  list-style: none;
  display: inline;
  text-align: center;
}

.card-paging li {
  color: black;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}
.card-paging li.focus {
  background-color: #ff9411;
  border-radius: 50%;
  color: white;
}
.card-paging button {
  background-color: transparent;
  border: none;
  margin: 0.5rem;
  padding: 0;
}
.icon-arrow {
  font-size: 40px;
  color: #ff9411;
}

.icon-arrow-hover {
  font-size: 40px;
  color: #ff9411;
}

.search-box {
  font-family: scdream5;
  display: block;
  margin: 1rem;
  padding: 0.25rem;
}

.search-form {
  display: block;
  width: 30rem;
  height: 3rem;
  margin: auto;
  border: 2px solid #ff9411;
  border-radius: 20px;
}

.search-form > form > input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  width: 25rem;
  height: 3rem;
  margin-left: 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
  outline-style: none;
  border: none;
}

.search-icon {
  font-size: 2rem;
  color: lightgrey;
  &:hover {
    color: gray;
  }
}
