.HelpPageWrapper {
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid black;
  margin-top: 3%;
  height: 100vh;
  margin-bottom: 3%;
}

.HelpPageWrapper > .AccordionWrapper {
  text-align: center;
}
