.editordetail-wrapper {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0 !important;
  list-style: none;
}
.editordetail-header-wrapper {
  text-align: center;
}
.editordetail-header {
  display: inline-block;
  font-family: 'scdream5';
  font-size: 30px;
  border-bottom: 3px solid #3d5ba5;
  margin-top: 3%;
  margin-bottom: 3%;
}

.editordetail-content-wrapper {
  font-family: scdream4;
  font-size: 20px;
  margin-left: 10rem;
  margin-right: 10rem;
}
.editordetail-content-profile-pic {
  display: inline-block;
  border-radius: 50%;
}

.editordetail-content-profile-pic_ {
  border-radius: 50%;
  width: 8.5vw;
  height: 8vh;
  text-align: center;
}

.EProfileIcon {
  color: #3d5ba5;
}

.editordetail-content-profile-pic > img {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 2px solid #3d5ba5;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
.editorDetailTitle {
  border-right: 3px solid #3d5ba5;
  padding-right: 15px;
  margin-right: 15px;
}
.editordetail-content-title {
  font-family: scdream5;
  display: inline-block;
  margin-left: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}
.editordetail-content-user {
  display: inline-block;
  margin-left: 2rem;
  border-bottom: 4px solid #3d5ba5;
  padding: 0.25rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.editordetail-content-user-data {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  font-family: scdream5;
}

.editordetail-content-like {
  display: block;
  text-align: right;
  margin-right: 1rem;
  font-family: scdream4;
  font-size: 20px;
  margin-bottom: 1rem;
}

.editordetail-content-like > div {
  display: inline;
  margin-left: 0.25rem;
  color: #008744;
}

.editordetail-content-hit {
  display: inline;
  font-family: scdream4;
  font-size: 20px;
}

.editordetail-content-pay {
  margin-left: 12rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}

.editordetail-content-pay > span {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 0.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

.editordetail-content-tools {
  margin-left: 12rem;
  line-height: 2.5rem;
}

.editordetail-content-tools > span {
  margin-right: 1rem;
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 0.25rem;
}

.editordetail-content-pr {
  width: 100%;
  margin-bottom: 3rem;
}

.pr-content {
  margin-left: 1rem;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 0.5rem;
}

.pr-content > .QuillContent {
  width: 100%;
  height: 100%;
}

.editordetail-content-like .pr-div {
  font-size: 24px;
  font-family: scdream5;
  float: left;
  border-bottom: 4px solid #3d5ba5;
  color: black;
  margin-left: 20px;
}
.editorDetailTitleBoxWrapper {
  display: flex;
  padding: 2% 5% 5% 20%;
  align-items: center;
}
.editorDetailTitleBox {
  width: 45vw;
  display: inline-block;
  margin-left: 5%;
}
.in-detail-update-btn {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  border: 1px solid #d62d20;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: white;
  color: #d62d20;
  margin-right: 10px;
}
.in-detail-update-btn2 {
  border: 1px solid #008744;
  color: #008744;
  border-radius: 20px;
  background-color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
@media (min-width: 320px) and (max-width: 770px) {
  .editordetail-wrapper {
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  .editordetail-content-wrapper {
    margin: 0;
    width: 100vw;
  }
  .editorDetailTitleBoxWrapper {
    width: 100%;
    display: inline-block;
    padding: 5%;
  }
  .editordetail-content-profile-pic {
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
  }
  .editordetail-content-profile-pic_ {
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
  }
  .editorDetailTitleBox {
    width: 100%;
    margin: 0;
  }
  .detail-btn-box {
    width: 100vw;
    font-size: 0.6rem !important;
    text-align: center;
  }
  .ql-container {
    width: 93vw;
  }
  .ql-video {
    width: 90vw;
  }
  .pr-content {
    margin: 5px;
  }
  .in-detail-update-btn {
    font-size: 0.5rem;
  }
  .in-detail-update-btn2 {
    font-size: 0.5rem;
  }
}
