.chatFrameFrag {
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'scdream4';
}
.chatFrameOverlay {
    border: 2px solid gray;
    padding: 2em;
    margin: auto;
    width: 30%;
    box-shadow: 5px 5px darkgray;
}

/* 채팅 반응형 */
@media screen and (max-width: 1480px) {
  .chatFrameOverlay {
    width:350px;
  }
  .chatFrameFrag {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}