.SignUpFrag {
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'scdream4';
}
.SignUpHeader {
  text-align: center;
}
.SignUpIcon {
  width: 10%;
  margin: 2em 0 1em 2em;
}
.signUpBar {
  background-color: #ffb963;
  width: 60%;
  height: 10px;
  margin-bottom: 1%;
  margin-left: 20%;
  text-align: center;
  border-radius: 12px;
}
/* 콘텐츠 박스 */
.contentBox {
}
.contentBox1 {
  text-align: center;
  align-items: center;
}
.contentBox2 {
  margin-top: 2%;
  text-align: center;
  align-content: center;
}
.contentBox3 {
  margin-top: 2%;
}
/* 선택 /필수 입력 정보입니다, 제목 */
.required {
  margin: auto auto 5% auto;
  font-size: 1rem;
  color: red;
  width: 100%;
  text-align: left;
}
.required2 {
  margin: auto auto 5% auto;
  font-size: 1rem;
  color: black;
  width: 100%;
  text-align: left;
}
.required3 {
  margin: 1% 80.6% 1% 0;
  font-size: 1rem;
  color: black;
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 1%;
}
input::placeholder {
  color: #999999;
}
/* 테이블, 테이블 내 요소들 */
.signUpTable {
  width: 100%;
  position:relative;
}
.labelWrapper {
  text-align: left;
  width: 100%;
  margin: auto;
  margin-bottom: 0 !important;
}
.signUpTable label {
  font-size: 14px;
  display: block;
  margin-bottom: 0;
}
.signUpTable .signUpLabel {
  margin-left: 0%;
  display: block;
}
.signUpTable > tr > td > input {
  margin-top: 5px;
  margin-bottom: 12px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  font-size: 0.85em;
}
.signUpTable > tr > td > input:focus {
  box-shadow: 1px 1px 3px 2px #ffb963;
}
.signUpTable > tr > td {
  vertical-align: middle;
}
.signUpId {

  &:disabled {
    background-color: darkgray;
    opacity: .85;
  }
}

/* 이메일 인증 요소 */
.authCodeCheckBox {
  text-align: left;
}
.signUpTable > tr > td > .authCodeCheckBox > .authenticationCodeBox > .authenticationCodeCheck {
  margin-top: 5px;
  margin-bottom: 12px;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  font-size: 0.85em;
  width:120%;
  &:disabled {
    background-color: darkgray;
    opacity: .85;
  }
  &:focus {
    box-shadow: 1px 1px 3px 2px #ffb963;
  }
}
.authenticationCodeBox {
  width:50%;
  display:inline-block;
  position:relative;
}
.authenticationCodeSendBox {
  right:-22%;
  display:inline-block;
  position: relative;
}
.authenticationCodeSend {
  font-size: 1em;
  width:100%;
}
.authenticationCodeResend {
  display: inline-block;
  margin-left:-55%;
}
.authenticationBtn {
  display: inline-block;
  margin-left: 25%;
}
.authenticationCodeResend > button {
  font-size: 0.85em;
  padding:5px;
}
.authenticationBtn > button {
  font-size: 0.85em;
  padding:5px;
}
.authenticationCodeSend > .btn {
  font-size:0.85em;
  padding:5px;
  &:disabled {
    background-color: darkgray;
    opacity: .85;
  }
}
.authenticationCodeSend > .btn-warning {
  font-size:0.85em;
  padding:5px;
  &:disabled {
    background-color: darkgray;
    border:none;
    opacity: .85;
  }
}
.codeTimerBox {
  display: inline-block;
  z-index: 1;
  position:relative;
  left:-0.8em;
  color:red;
}

/* 이메일 인증 끝 */
/* 테이블, 테이블 내 요소들 끝 */

/* 프로필 사진 */
.signUpTable .signUpProfilePic {
  border: none;
  width:100%;
}
.ProfilePicPreview {
  margin: 2rem auto;
  background-image: url('./basicProfilePic.png');
  width: 10rem;
  height: 10rem;
  background-size: cover;
}
.profile_preview {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  box-shadow: 3px 3px darkgray;
}
.youtuberPicLabel {
  text-align: left;
  width: 100%;
  margin: auto;
  margin-bottom: 0 !important;
}
.youtuberPic_PreviewBox {
  margin: 1rem auto;
  background-image: url('./222222222222222.png');
  width: 100%;
  height: 13rem;
  background-size: contain;
}
.youtuberPic_preview {
  height: 100%;
  width: 100%;
  border: 1px solid gray;
  box-shadow: 3px 3px darkgray;
}
.inputWrapper {
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 0.85em;
  padding: 9px 12px;
  margin-left: 6rem;
}
.youtuberInputBox {
  width:100%;
}
.youtuberPicDesc {
  margin-top:8px;
  font-size: 0.9em;
  color:red;
}

/* 약관동의 */

.agreement {
  position: relative;
  margin: auto;
  width: 100%
}
.agreementTitle {
  font-size: 0.9em;
  margin-top: 10px;
}
.agreementService {
  font-size: 0.9em;
  margin-top: 25px;
}
.agreementPrivate {
  font-size: 0.9em;
  margin-top: 25px;
}
.agreementMarketing {
  font-size: 0.9em;
  margin-top: 25px;
}

/* Agreement */
.agreementServiceContents,
.agreementPrivateContents,
.agreementMarketingContents {
  margin-top: 1%;
  font-size: 0.8em;
  background-color: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 9em;
}
/* 오버레이 (보더) */
.overlay {
  border: 2px solid gray;
  padding: 2em;
  margin: auto;
  width: 30%;
  box-shadow: 5px 5px darkgray;
}
/* 사인업 버튼들 */
.signUpNextBtnBox {
  text-align: center;
  margin-top: 5%;
}
.signUpSubmitBtnBox {
  margin-top: 5%;
}
.signUpSubmitBtn {
}

/* 유튜버 체크시 나오는 디비전 */
.youtuberDiv {
  text-align: center;
  align-content: center;
  position: relative;
  margin: 1rem auto;
  width: 100%;
}
.youtuberDiv_Title {
  font-size: 0.9em;
}
.youtuberDiv_Title span {
  color:red;
}
.youtuberUrlBoxLabel {
  font-size: 0.9em;
  text-align: left;
  margin-top: 1rem;
  width:100%;
    span {
      color:red;
    }
}
.youtuberUrlBoxInput{
  margin-top: 5px;
  margin-bottom: 12px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  font-size: 0.9em;
  &:focus {
    box-shadow: 1px 1px 3px 2px #ffb963;
  }
}
.companyRegNumBox {
  width:100%;
}
.companyRegNumLabel {
  font-size: 0.9em;
  text-align: left;
  margin-top: 2rem;
  width:100%;
}
.companyRegNumInput {
  margin-top: 5px;
  margin-bottom: 12px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
  font-size: 0.9em;
}
.companyRegNumInput:focus {
  box-shadow: 1px 1px 3px 2px #ffb963;
}
.youtuberPicLabel {
  font-size: 0.9em;
  text-align: left;
  margin-top: 2rem;
  width:100%;
  span {
    color:red;
  }
}
.youtuberPicInputWrapper {
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 0.85em;
  padding: 9px 12px;
  margin-left: 20%;
}
.youtuberPicInput {
  width:100%;
}
.signUpProfilePic {
  width:100%;
}
/* 키업박스 */
.warningBox {
  text-align: left;
  margin-top: -1%;
  margin-bottom: 1%;
  font-size:0.77em;
  color:red;
}

/* Number input 화살표 삭제용 */
SignUp1 > input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 회원가입 전체 페이지 반응형 */
@media screen and (max-width: 1480px) {
  .overlay {
    width:350px;
  }
  .SignUpFrag {
      margin-right: 1vw;
      margin-left: 1vw;
      margin-top: 1%;
      margin-bottom: 1%;
  }
}

/* footer */
.SignUpFooter {
  text-align: center;
  margin-top: 2%;
}
.linkToMain {
  color:darkgray;
}
.linkToMain:hover {
  text-decoration: none;
  color:darkgray;
}
.linkToMain > span {
  color:#ffb963;
  text-decoration: underline;
  cursor: pointer;
}