/* 콘텐츠 박스 */
.contentBox2 {
  text-align: center;
  align-content: center;
}
.signUpBar {
  text-align: center;
  margin-bottom: 1%;
  .dot1 {
    width:13px;
    height:13px;
    background-color: #ffb963;
    border-radius: 50%;
    display: inline-block;
    margin:10px 10px 9px 10px;
  }
  .dot2 {
    width:10px;
    height:10px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block;
    margin:10px;
  }
  .dot3 {
    width:10px;
    height:10px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block;
    margin:10px;
  }
}
/* 오버레이 (보더) */
.overlay {
  border: 2px solid gray;
  padding: 2em;
  margin: auto;
  width: 30%;
  box-shadow: 5px 5px darkgray;
}
.signUpEndTitle {

}
