.myPage-tableBox {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.myPage-youtuberbox {
  font-family: scdream5;
}

.myPage-freebox {
  font-family: scdream5;
}

.myPage-portfoliobox {
  font-family: scdream5;
}

.myPage-title {
  font-family: hopang;
  color: #ffb963;
}

.myPage-cancel {
  font-size: 15px;
  line-height: 1.5rem;
  border: none;
  background-color: bisque;
  margin: 0.1rem;
  z-index: 50;
}
// 유튜버 공고 즐겨찾기 테이블
.myPage-youtuberbox > table {
  width: 100%;
  table-layout: fixed;
  font-family: scdream4;
  line-height: 2rem;
  white-space: nowrap;
}

.myPage-youtuberbox > table > thead {
  border-bottom: 2px solid #ff9411;
  font-family: scdream5;
  text-align: center;
}

.myPage-youtuberbox > table > tbody > tr > td {
  text-overflow: ellipsis;
  overflow: hidden;
}

.myPage-youtuberbox > table > tbody > tr {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  &:hover {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    background-color: lightgrey;
  }
}

// 자유게시판 즐겨찾기 테이블

.myPage-freebox > table {
  width: 100%;
  table-layout: fixed;
  font-family: scdream4;
  line-height: 2rem;
  white-space: nowrap;
}

.myPage-freebox > table > thead {
  border-bottom: 2px solid #ff9411;
  th:nth-child(1) {
    width: 5rem;
  }
  th:nth-child(2) {
    width: 7rem;
  }
  th:nth-child(3) {
    width: 25rem;
  }
}

.myPage-freebox > table > tbody > tr {
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    background-color: lightgrey;
  }
}

.myPage-freebox > table > tbody > tr > td {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 포르폴리오 즐겨찾기 테이블

.myPage-portfoliobox > table {
  width: 100%;
  table-layout: fixed;
  font-family: scdream4;
  line-height: 2rem;
  white-space: nowrap;
}

.myPage-portfoliobox > table > thead {
  border-bottom: 2px solid #ff9411;
  th:nth-child(1) {
    width: 7rem;
  }
  th:nth-child(2) {
    width: 10rem;
  }
  th:nth-child(3) {
    width: 5rem;
  }
  th:nth-child(4) {
    width: 5rem;
  }
  th:nth-child(5) {
    width: 10rem;
  }
}

.myPage-portfoliobox > table > tbody > tr {
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    background-color: lightgrey;
  }
}

.myPage-portfoliobox > table > tbody > tr > td {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
