.myPage-flexBox {
  display: flex;
  min-width: 0;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.myPage-youtuberbox {
  font-family: scdream5;
}

.myPage-freebox {
  font-family: scdream5;
}

.myPage-portfoliobox {
  font-family: scdream5;
}

.myPage-title {
  font-family: hopang;
  color: #ffb963;
}

.myPage-youtuberbox > table > thead {
  background-color: lightgrey;
  th:nth-child(1) {
    border-right: 1px solid white;
  }
  th:nth-child(2) {
    border-right: 1px solid white;
  }
  th:nth-child(3) {
    border-right: 1px solid white;
  }
  th:nth-child(4) {
    border-right: 1px solid white;
  }
  th:nth-child(5) {
    border-right: 1px solid white;
  }
  th:nth-child(6) {
    border-right: 1px solid white;
  }
}

// 표 크기 및 디자인
.myPage-youtuberbox > table > tbody > tr {
  cursor: pointer;
  td:nth-child(1) {
    width: 5rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  td:nth-child(2) {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  td:nth-child(4) {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td:nth-child(6) {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background-color: ghostwhite;
  }
}

.myPage-freebox > table > thead {
  background-color: lightgrey;
  th:nth-child(1) {
    width: 7rem;
    border-right: 1px solid white;
  }
  th:nth-child(2) {
    width: 25rem;
    border-right: 1px solid white;
  }
}

.myPage-freebox > table > tbody > tr {
  cursor: pointer;
  td:nth-child(1) {
    width: 7rem;
    border-right: 1px solid white;
  }
  td:nth-child(2) {
    width: 25rem;
    border-right: 1px solid white;
  }
  &:hover {
    background-color: ghostwhite;
  }
}

.myPage-portfoliobox > table > thead {
  background-color: lightgrey;
  th:nth-child(1) {
    width: 7rem;
    border-right: 1px solid white;
  }
  th:nth-child(2) {
    width: 10rem;
    border-right: 1px solid white;
  }
  th:nth-child(3) {
    width: 5rem;
    border-right: 1px solid white;
  }
  th:nth-child(4) {
    width: 5rem;
    border-right: 1px solid white;
  }
  th:nth-child(5) {
    width: 10rem;
    border-right: 1px solid white;
  }
}

.myPage-portfoliobox > table > tbody > tr {
  cursor: pointer;
  td:nth-child(1) {
    width: 7rem;
    border-right: 1px solid white;
  }
  td:nth-child(2) {
    width: 10rem;
    border-right: 1px solid white;
  }
  td:nth-child(3) {
    width: 5rem;
    border-right: 1px solid white;
  }
  td:nth-child(4) {
    width: 5rem;
    border-right: 1px solid white;
  }
  td:nth-child(5) {
    width: 10rem;
    border-right: 1px solid white;
  }
  &:hover {
    background-color: ghostwhite;
  }
}
