.chatFrameFrag {
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'scdream4';
  position: fixed;
  z-index: 99;
  left: 72%;
  bottom: 11%;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
  width: 20%;
  height: 580px;
}
.chatFrameOverlay {
  margin: auto;
  width: 100%;
  height: 100%;
}

/* 채팅 반응형 */
@media screen and (max-width: 1480px) {
  .chatFrameFrag {
    left: 71.5%;
    bottom: 11%;
    margin: 0 auto;
  }
}
@media all and (max-width: 770px) {
  .chatFrameFrag {
    left: 22%;
    width: 300px;
    min-height: 77vh;
  }
}
@media all and (max-width: 480px) {
  .chatFrameFrag {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}
@media all and (max-height: 700px) {
  .chatFrameFrag {
    height: 70%;
  }
}
@media all and (max-height: 480px) {
  .chatFrameFrag {
    height: 40%;
  }
}

/* 채팅 애니메이션 */
@keyframes fadein {
  from {
    bottom: -60%;
    overflow: hidden;
  }
  to {
    bottom: 11%;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    bottom: -60%;
    overflow: hidden;
  }
  to {
    bottom: 11%;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    bottom: -60%;
    overflow: hidden;
  }
  to {
    bottom: 11%;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    bottom: -60%;
    overflow: hidden;
  }
  to {
    bottom: 11%;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  /* Safari and Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
