@font-face {
  font-family: 'hopang';
  src: url('./fonts/SDSamliphopangcheTTFOutline.ttf');
}

@font-face {
  font-family: 'scdream4';
  src: url('./fonts/SCDream4.otf');
}
@font-face {
  font-family: 'scdream5';
  src: url('./fonts/SCDream5.otf');
}

.allBoard {
  background-color: white;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 1%;
  margin-bottom: 1%;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb963;
  border-radius: 10px;
  z-index: 0;
}
::-webkit-scrollbar-track {
  display: none;
}
