@font-face {
  font-family: 'hopang';
  src: url('./fonts/SDSamliphopangcheTTFOutline.ttf');
}
@font-face {
  font-family: 'scdream3';
  src: url('./fonts/SCDream3.otf');
}
@font-face {
  font-family: 'scdream4';
  src: url('./fonts/SCDream4.otf');
}
@font-face {
  font-family: 'scdream5';
  src: url('./fonts/SCDream5.otf');
}

::-webkit-scrollbar {
  width: 0.25em;
  overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb963;
  border-radius: 10px;
  z-index: 0;
}
::-webkit-scrollbar-track {
  display: none;
}

.custom-switch {
  padding-left: 0 !important;
}
.custom-control {
  min-height: 0 !important;
}

/* 채팅 아이콘*/
.chat_button {
  position: fixed;
  z-index: 100;
  top: 88%;
  left: 94%;
  color: #c4302b;
  font-size: 3rem;
  cursor: pointer;
  border: 3px solid #c4302b;
  padding: 0.25rem;
  border-radius: 50%;
}

.chat_button_noti {
  position: fixed;
  z-index: 100;
  top: 88%;
  left: 94%;
  color: #c4302b;
  font-size: 3rem;
  cursor: pointer;
  border: 3px solid #c4302b;
  padding: 0.25rem;
  border-radius: 50%;
  animation: shake 2s ease infinite;
}

@media all and (max-width: 770px) {
  .chat_button {
    top: 90%;
    left: 83%;
  }
  .chat_button_noti {
    top: 90%;
    left: 83%;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
