.loading {
  width: 100%;
  min-height: 70vh;
}
.notify {
  margin-top: 2rem !important;
  background-color: bisque !important;
  border-radius: 8px !important;
  width: 100% !important;
}

.alertNoti {
  margin-bottom: 20rem !important;
  background-color: bisque !important;
  border-radius: 8px !important;
  width: 100% !important;
}
