.loading {
  width: 100%;
  min-height: 70vh;
}
.notify {
  bottom: 6em !important;
  z-index: 90 !important;
  background-color: bisque !important;
  border-radius: 8px !important;
  width: 100% !important;
}

.alertNoti {
  bottom: 25em;
  z-index: 90 !important;
  background-color: bisque !important;
  border-radius: 8px !important;
  width: 100% !important;
}

.Toastify__toast-container--bottom-right {
  height: 100px !important;
  margin-bottom: 2rem !important;
  z-index: 90 !important;
}

@media only screen and (max-width: 770px) {
  .notify {
    bottom: 1rem !important;
  }

  .alertNoti {
    bottom: 1rem !important;
  }

  .Toastify__toast-container--bottom-right {
    bottom: 1rem !important;
  }
}
