.allBoard {
  background-color: white;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 1%;
  margin-bottom: 1%;
}
@media (min-width: 481px) and (max-width: 767px) {
  .allBoard {
    margin-right: 8%;
    margin-left: 8%;
  }
}
