ul,
h2,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.SvideoWrapper {
  height: 30vh;
}

.best-thumbnailer {
  padding: 0.2em;
  display: inline-block;
  border-bottom: 3px solid #ff7c7c;
  font-family: 'scdream5';
  font-size: 2rem;
  color: white;
  text-shadow: -2px 0 #ff7c7c, 0 2px #ff7c7c, 2px 0 #ff7c7c, 0 -2px #ff7c7c;
}

.best-thumbnailer > span {
  color: #ff7c7c;
  font-size: 2.5rem;
}

.prevBtn {
  text-align: left;
  position: relative;
  top: 160px;
  right: 60px;
}

.nextBtn {
  text-align: right;
  position: relative;
  bottom: 170px;
  left: 60px;
}
