.user_no {
  width: 4%;
}
.user_id {
  width: 30%;
}
.user_nickname {
  width: 30%;
}
.user_regDate {
  width: 12%;
}
.user_authority {
  width: 8%;
}
.user_option {
  width: 16%;
}
.report_title {
  width: 15%;
}
.report_content {
  width: 40%;
}
.report_user {
  width: 20%;
}
.user_table_tr {
  cursor: pointer;
}
.board_content {
  width: 49%;
}
.YCBtn {
  border: none;
  background-color: bisque;
  width: 6rem;
  margin-left: 1rem;
  display: inline-block;
  border-radius: 5px;
  vertical-align: bottom;
  font-family: scdream4;
}
.img_wrapper {
  cursor: pointer;
}

.admin_user_detail {
  font-weight: bolder;
  width: 10vw;
  font-size: 20px;
}
.admin_user_details {
  font-family: scdream4;
  font-size: large;
}

@media screen and (max-width: 770px) {
  .admin_notice_th{
    display: inline-block;
  }
  .admin_board .user_no {
    width:10%;
    font-size: 12px;
  }

  .admin_board .board_content{
    width:20%;
    font-size: 12px;
  }

  .admin_board .report_title{
    width:8%;
    font-size: 12px;
  }
  .admin_board .user_regDate{
    width:3%;
    font-size: 12px;
  }
  .admin_board .user_option{
    width:3%;
    font-size: 12px;
  }

  //신고 계시판
  .admin_board .report_user{
    font-size: 12px;
    width:10%;
  }
  .admin_board .report_content{
    font-size: 12px;
    width:12%;
  }
}