.admin_main {
  font-family: scdream4;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-bottom: 5rem;
}
.admin_board > h1 {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: #ff9411;
  padding: 0.5rem;
  border-radius: 20px;
}
.admin-wrapper .sideBox {
  display: inline-block;
  margin: auto;
  top: 19vh;
  position: relative;
  left: 3%;
}
.admin-table-wrapper > table {
  width: 100%;
  margin: 0 2rem 2rem 0;
  font-family: scdream4;
  line-height: 2rem;
  white-space: nowrap;
}
.admin-table-wrapper > table > thead {
  font-family: scdream5;
  text-align: center;
}
.admin-table-wrapper > table > tbody {
  text-align: center;
}
.admin-table-wrapper > table > tbody > tr {
  border-bottom: 2px solid #ff9411;
}
.admin-table-wrapper > table > thead > tr > th {
  border-bottom: 2px solid #ff9411;
}
.admin_item {
  //width: 66%;
  //display: inline-block;
  //min-height: 75vh;
  //margin-top: 4rem;
  display: inline-block;
  width: 65vw;
  position: relative;
  margin-left: 9%;
  margin-top: -15%;
}

.Admin_confirm_big {
  width: 100%;
  height: 100%;
}
.Admin_confirm_small {
  width: 100%;
  line-height: 100%;
}
.admin_report_detail {
  cursor: pointer;
}
.admin_report_modal {
  font-size: 20px;
  font-family: scdream4;
  vertical-align: middle;
  padding: 2rem;
}

.admin_report_modal_user {
  text-align: center;
  margin: 2rem;
  background-color: bisque;
}
.admin_report_modal_content {
  background-color: bisque;
  margin: 2rem;
  min-height: 24vh;
}
.admin_report_modal_date {
  text-align: center;
  background-color: bisque;
  margin: 2rem;
}

.admin_modal_btn {
  text-align: center;
}
.admin_modal_btn > .btn {
  margin: 2%;
}

.notice_option {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.admin-registerbtn {
  border: 1px solid #008744;
  color: #008744;
  border-radius: 20px;
  background-color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  &:hover {
    text-decoration: none;
    background-color: #008744;
    color: white;
  }
}

@media screen and (max-width: 770px) {
  .overlay {
    width: 350px;
  }
  .SignUpFrag {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 770px) {
  .admin-wrapper {
    margin-top: -85px;
    margin-bottom: -35px;
  }
  .admin_item {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-left: 0%;
    margin-top: -15%;
  }
  .admin_main {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 75px;
  }
  .admin_board .boardName {
    margin-left: 0 !important;
    font-size: medium;
    text-align: center;
    width: 97%;
  }
  .admin-wrapper .sideBox {
    margin-bottom: 28%;
    width: 90%;
  }

  .admin_li {
    display: inline-block;
    width: 30%;
  }
  .admin-wrapper .li-winwin {
    display: inline-block;
    font-size: 13px;
    width: 100%;
    margin-right: 2%;
    font-weight: bold;
    &:hover {
      width: 100%;
      text-decoration: none;
      background-color: #ff5c11;
      transition: background-color 0.3s;
      color: white;
      border-radius: 20px;
    }
  }
  .admin-wrapper .li-link-disabled {
    display: inline-block;
    font-size: 13px;
    width: 100%;
    margin-right: 2%;
    font-weight: bold;
    &:hover {
      width: 100%;
      text-decoration: none;
      background-color: #ff5c11;
      transition: background-color 0.3s;
      color: white;
      border-radius: 20px;
    }
  }
  .admin-wrapper .sideMenu {
    text-align: center;
    width: 100%;
  }
  .admin_board .user_no {
    width: 4%;
    font-size: 12px;
  }
  .admin_board .user_id {
    width: 20%;
    word-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
  }
  .admin_board .user_nickname {
    width: 10%;
    font-size: 12px;
  }
  .admin_board .user_regDate {
    width: 10%;
    font-size: 12px;
  }
  .admin_board .user_authority {
    width: 5%;
    font-size: 12px;
  }
  .admin_board .user_option {
    width: 8%;
    font-size: 12px;
  }

  .admin_board .sortingBtn {
    width: 25%;
    font-size: 12px;
  }
}
