.user_no {
  width: 7%;
}
.user_id {
  width: 25%;
}
.user_nickname {
  width: 33%;
}
.user_regDate {
  width: 14%;
}
.user_authority {
  width: 10%;
}
.user_option {
  width: 10%;
}
.report_title {
  width: 15%;
}
